body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden;  */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}


#root {
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-size: cover;
}

.magic-input {
  background: linear-gradient(
    135deg,
    #e0ffe0,
    #a8ffb8
  ); /* 초록색 계열 그라데이션 */
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2); /* 초록색 그림자 */
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
  width: 80%;
  transition: all 0.3s ease-in-out;
}

.magic-input:focus {
  outline: none;
  box-shadow: 0 0 10px #ff9999;
  transform: scale(1.05);
}

.bg-owl {
  background-image: url("/images/owl.png");
  width: 80%;
  height: 80%;
}

.modal {
  will-change: opacity transform;
  animation: fade_in_2 3s cubic-bezier(0.14, 0.18, 0.16, 1.02);
}

@keyframes fade_in_2 {
  0%,
  14% {
    opacity: 0;
    transform: translateY(1rem) scale(0.95);
  }
  15% {
    opacity: 0.25;
  }
  30%,
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.magic-hint-button {
  background-image: url("/images/magic_hint.png");
  width: 90px; /* 원하는 크기로 조정 */
  height: 60px; /* 원하는 크기로 조정 */
  background-size: contain; /* 원본 비율 유지 */
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); /* 하얀색 그림자 */
  position: relative;
}

.spell-modal {
  background: url("/images/paper_background.jpg") no-repeat center center;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
  transform: scaleY(0); /* 초기 상태로 숨기기 */
  opacity: 0; /* 초기 상태로 숨기기 */
  animation: paper-fold 0.5s forwards; /* 애니메이션 적용 */
}
