/* Add this CSS to your styles.css or global stylesheet */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrolling {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.selected-ingredient {
  position: relative;
}

.selected-ingredient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Transparent black */
  pointer-events: none;
  border-radius: inherit;
}

.submit-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.submit-button {
  text-shadow: 2px 2px 4px blue;
  transition: color 0.3s ease;
}

.submit-button:hover {
  color: blue;
}

.ingredients-container {
  width: auto;
  height: 100vh; /* Full height of the viewport */
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* Firefox */
}
/* 버튼 스타일 */
.potion-black-market-button {
  background-image: url("https://syeongkim.github.io/madcamp_week4_front/images/potion_black_market.png");
  width: 90px; /* 원하는 크기로 조정 */
  height: 60px; /* 원하는 크기로 조정 */
  background-size: contain; /* 원본 비율 유지 */
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); /* 하얀색 그림자 */
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 배경 반투명 블랙 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-close:hover {
  color: red;
}

/* 새 모달 스타일 추가 */
.new-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 배경 반투명 블랙 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* 새 모달이 기존 모달 위에 표시되도록 설정 */
}

.new-modal-content {
  background: url("https://syeongkim.github.io/madcamp_week4_front/images/paper_background.jpg")
    no-repeat center center;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
  transform: scaleY(0); /* 초기 상태로 숨기기 */
  opacity: 0; /* 초기 상태로 숨기기 */
  animation: paper-fold 0.5s forwards; /* 애니메이션 적용 */
}

.new-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.new-modal-close:hover {
  color: red;
}

.fixed-title {
  position: absolute;
  top: px; /* Adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Ensure it stays above other content */
  text-align: center;
}

@keyframes paper-fold {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.detail-modal {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.detail-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
}
