@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  white-space: pre-wrap;

  --color-gryffindor: #7C201C;
  --color-hufflepuff: #E8CA27;
  --color-ravenclaw: #3C6985;
  --color-slytherin: #376E35;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Harry P';
  src: url('/fonts/harry_p.TTF') format('truetype'); /* Adjust the path to your font */
}

@font-face {
  font-family: 'lumos';
  src: url('/fonts/LUMOS.ttf') format('truetype'); /* Adjust the path to your font */
}

@font-face {
  font-family: 'Animales Fantastic';
  src: url('/fonts/Animales Fantastic.otf') format('truetype'); /* Adjust the path to your font */
}

body {
  background-color: #091518;
}

@layer utilities {
  .text-gradient-yellow {
    background: linear-gradient(to bottom, #ffc400, #925203);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    margin-bottom: 10px;
  }
  .text-gradient-blue {
    background: linear-gradient(to bottom, #0041FF, #110060);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    margin-bottom: 10px;
  }
  .text-gradient-red {
    background: linear-gradient(to bottom, #9C0000, #2B0600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    margin-bottom: 10px;
  }
  .text-gradient-green {
    background: linear-gradient(to bottom, #02E602, #062C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    margin-bottom: 10px;
  }
  .text-balance {
    text-wrap: balance;
  }
}

