.dorm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
}

.dorm {
  font-family: 'Harry P';
  font-size: 70px;
  color: white;
  text-align: center;
  transition: color 0.3s ease; /* 부드러운 전환 효과 추가 */
}

.dorm-container:hover .dorm {
  color: var(--hover-color); /* hover 시 색상 변경 */
}