@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Harry P";
  src: url("https://syeongkim.github.io/madcamp_week4_front/fonts/harry_p.ttf"); /* Adjust the path to your font */
}

*,
::before,
::after {
  border-width: 0;
}

.logo {
  width: 40%;
  height: 40%;
}

.button {
  font-family: "Harry P";
  font-size: 30px;
  padding: 8px 16px; /* 0.5rem 1rem = 8px 16px */
  border-radius: 8px; /* 0.5rem = 8px */
  color: #fff67a;
  cursor: pointer;
}
